h1{
	color:black;
}

p{
	font-size:50px;
	color:blue;

}


img{
	border-style:dotted;
	border-width:3px;
	border-color:red;

boder:dotted.3px.red;
}

body{
	text-align:center;
}





