body{
	font-family: 'M PLUS Rounded 1c', sans-serif;

}


.redbg{
     background-color:red;
}

.yellowbg{
	background-color:yellow;
}

.greenbg{
	background-color:green;
}





